@import "tailwindcss";

:root {
    --background: #010101;
    --foreground: #ffffff;
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-figtree: var(--font-figtree);
    --font-urbanist: var(--font-urbanist);
}

@layer utilities {
    .font-figtree {
        font-family: var(--font-figtree), system-ui, sans-serif;
    }

    .font-urbanist {
        font-family: var(--font-urbanist), system-ui, sans-serif;
    }

    .container {
        @apply mx-auto px-5 md:px-10;
        @media (width >= 80rem ) {
            max-width: calc(1018px + 2.5rem);
        }
        @media (width >= 96rem ) {
            max-width: calc(90rem + 2.5rem);
        }
    }

    ul.iconic-list {
        @apply list-none relative;

        li {
            @apply relative pl-8 leading-6 mb-2 2xl:mb-4;
        }

        li::before {
            content: url('/star.png');
            @apply absolute left-0 top-1/2 m-0 -translate-y-1/2;
        }
    }
}

@layer base {
    body {
        background: var(--background);
        color: var(--foreground);
        @apply font-figtree;
    }
}

